@page "/Proyeccion_Gastos"
@using Campos_Clinicos.Data


<PageTitle>Proyeccion_Gastos</PageTitle>

<h1>Proyección de Gastos</h1>

<p>This component demonstrates fetching data from a service.</p>
