@page "/VerDetalle"
@using Campos_Clinicos.Data


<PageTitle>Ver_Detlle</PageTitle>
<h1>Ver Detalle</h1>
<table>
    <tr>
        <th>atrs</th>
        <th>barco</th>
        <th>casa</th>
        <th>dasd</th>
        <th>el</th>
        <th>fq</th>
    </tr>
</table>