@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<div class="top-row ps-7 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Campos Clinicos</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-7">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-7">
            <NavLink class="nav-link" href="Proceso_Retribución">
                <span class="oi oi-plus" aria-hidden="true"></span> Retribución
            </NavLink>
        </div>
        <div class="nav-item px-7">
            <NavLink class="nav-link" href="Proyeccion_Gastos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Proyección de Gastos
            </NavLink>
        </div>
        <div class="nav-item px-7">
            <NavLink class="nav-link" href="Registrar_Costos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registrar Costos
            </NavLink>
        </div>
        <div class="nav-item px-7">
            <NavLink class="nav-link" href="Informes_Financieros">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Informes Financieros
            </NavLink>
        </div>
        <div class="nav-item px-7">
            <NavLink class="nav-link" href="Seguimiento_de_Pagos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Seguimiento de Pagos
            </NavLink>
        </div>
        <div class="nav-item px-7">
            <NavLink class="nav-link" href="Información_Convenios">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Información Convenios
            </NavLink>
        </div>
        <div class="nav-item px-7">
            <NavLink class="nav-link" href="Auditoría_de_Transacciones">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Auditoría de Transacciones
            </NavLink>
        </div>
        <div class="nav-item px-7">
            <NavLink class="nav-link" href="Creación_de_“CRUD”_en_la_tabla_rutificadora">
                <span class="oi oi-list-rich" aria-hidden="true"></span> “CRUD” tabla rutificadora
            </NavLink>
        </div>
        
        @if (isAuthenticated)
        {
            <div class="nav-item px-7">
                <button class="nav-link btn btn-link" @onclick="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </button>
            </div>
        }
        else
        {
            <div class="nav-item px-7">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isAuthenticated;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private async void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity.IsAuthenticated;
    }

    private void Logout()
    {
        // Aquí deberías redirigir a la página de logout y gestionar el proceso de logout
        // Puedes usar la siguiente línea si estás usando la autenticación de cookies
        Navigation.NavigateTo("/logout");
    }
}

